
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
}

.container {
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: #0070f3;
}

.mainInput {
  width: 100%;
  padding: 12px;
  margin: 1.5rem 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #0070f3; 
  color: white;
  cursor: pointer;
}

.btnSecondary {
  background-color: #f0f7ff;
  color: black;
}

.btnWithdraw {
  background-color: #ff4d4d;
  color: white;
  margin-top: 20px;
}